        <%- include('header') %> <!-- Inclui uma uma p치gina parcial(header) para dentro da p치gina atual -->
        <h2>Admin:</h2>
        <div>
            <ul>
                <li><a href="/admin/categorias">Gerenciar Categorias</a></li> <!-- A tag <a href=""></a> cria uma ancora/link para outra pagina -->
                <li><a href="/admin/vagas">Gerenciar Vagas</a></li>
            </ul>
        </div>
        <%- include('footer') %> <!-- Inclui uma uma p치gina parcial(footer) para dentro da p치gina atual -->