        <%- include('header') %> <!-- Inclui uma uma página parcial(header) para dentro da página atual -->
        <h2>Admin:</h2>
        <div>
            <ul>
                <li><a href="/admin/categorias">Gerênciar Categorias</a></li> <!-- A tag <a href=""></a> cria uma ancora/link para outra pagina -->
                <li><a href="/admin/vagas">Gerênciar Vagas</a></li>
            </ul>
        </div>
        <%- include('footer') %> <!-- Inclui uma uma página parcial(footer) para dentro da página atual -->